
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    margin-bottom: 0%;
}

.hero-img{

}

/* Utilities */

.bg-darkGarnet{
    background-color: #6a1a25;
}

.bg-lightMint{
    background-color: #66ffcc;
}

.bg-darkPurple{
    background-color: #6600cc;
}

.bg-lightYellow{
    background-color: #ffff66;
}

.text-darkGarnet{
    color: #6a1a25;
}

.text-lightMint{
    color: #66ffcc;
}

.text-darkPurple{
    color: #6600cc;
}

.text-lightYellow{
    color: #ffff66;
}

