
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    margin-bottom: 0%;
}

.hero-img{
    background-image: url(Assets/jediCocky.jpg);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.glassCard{
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(15, 15, 15, 0.26);
    text-align: center;
}

/* Only apply the position on medium screens and larger...  you will need a custom media query to do this */

@media (min-width: 768px) {
    .HeroCard{
        position: absolute;
    }
}

.HeroCard{
    bottom: 100px;
    right: 20px;
    background: #66ffcc;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(15, 15, 15, 0.26);
    text-align: center;
}

/* NOTE this only applies to small screens */
@media (max-width: 768px){
    .hero-text{
        display: none;
    }
}

/* Utilities */

.bg-darkGarnet{
    background-color: #6a1a25;
}

.bg-lightMint{
    background-color: #66ffcc;
}

.bg-darkPurple{
    background-color: #6600cc;
}

.bg-lightGray{
    background-color: #eaeaea;
}

.text-darkGarnet{
    color: #6a1a25;
}

.text-lightMint{
    color: #66ffcc;
}

.text-darkPurple{
    color: #6600cc;
}

.text-lightYellow{
    color: #ffff66;
}

